<div class="item-container _marginl_10">

  <div class="item-header">

    <div class="img-container" [style.backgroundImage]="'url('+ itemData.image +')'"></div>

    <article class="text-container">

      <span class="title_2">Olvídese de la rutina</span>

      <p [ngClass]="{'shorten_text' : !infoOpened}" class="text">{{itemData.description}}</p>

      <span (click)="showInfo()" class="more_info cursor_pointer">
        Más información y condiciones
        <i class="icon icon-ic-arrow-down _marginl_10" [ngClass]="{'icon-ic-arrow-up' : infoOpened}"></i>
      </span>

    </article>

  </div>


  <div class="info-container text fadeIn" *ngIf="infoOpened">

    <span>Incluye</span>

    <ul>
      <li *ngFor="let option of itemData.info">
        {{option}}
      </li>
    </ul>

    <span class="warning">Valores no acumulables a otras promociones similares</span>

  </div>

</div>

