@import './../../../../css/base/vars';
@import './../../../../css/base/utils';

.card-container{
  width: 220px;
  border: 1px solid $c-grid-border;
  height: 460px;
  background-color: $c-white;
}

.card-header{
  @include flex_center;
  @include title;
  @include fontType($f-titles, 16px, 'bold', $c-textImportant);
  height: 50px;
  text-align: center;
}

.card-body{
  @include fontType($f-basic, 15px, 400, $c-blue-dark);
  height: 410px;
}

.card-content{
  height: 310px;
  ul{
    padding-left: 30px;
    line-height: 1.4;
  }
}

.card-footer{
  @include flex_center;
  @include fontType($f-basic, 16px, 400, $c-blue-dark);
  height: 73px;
}

.disabled{
  color: $c-text-disabled !important;
}

.plan_selected{
  border: 1px solid $c-blue-dark;
}

hr{
  text-align: center;
  width: 30%;
}

@media only screen and (min-width: $mobile) and (max-width: $tablet) {

  .card-container{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .card-body{
    height: auto;
  }
  .card-content{
    height: auto;
  }

}
