<div class="accordion-container">

    <div class="accordion-header cursor_pointer" (click)="showTab()">
        <div class="exclusive">
            EXCLUSIVO HOTELES.COM
        </div>
        <span class="icon icon-ic-arrow-down" [ngClass]="{'icon-ic-arrow-up' : accordionData.isOpen}"></span>
        <span class="title_1 _marginl_10">{{accordionData.name | capitalizeFirst}}</span>
        <span class="optional _marginl_10">Opcional</span>
    </div>

    <div class="accordion-body fadeIn" *ngIf="accordionData.isOpen">

        <app-item *ngFor="let item of accordionData.items" [itemData]="item"></app-item>

    </div>

</div>